@charset "ISO-8859-1";
heading{
	background-color:#184A45FF;
	font-weight:bold;
	font-size:45px;
	display:block;
    color:#FC766AFF;
    text-align:center;
}
Bank-Staff
{
	background-color:coral;
}
Staff-Details {
	   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 15%;
            float: left;
            margin-left: 10px;
            align-self: center;
            font-family: Verdana;
            font-size: 18px;
            color: maroon;
            display: block;
            padding: 10px;
            margin: 20px;
            background-color: ivory;
            width: 300px;
            border: 5px;
            border-color: gray;
}

Type,Name,Gender,Address,Id
{
	font-size:30px;
	display:block;
}